{
  "var_subscription_id": "${subscription_id}",
  "var_resource_group": "${resource_group}",
  "var_location": "${location}",
  "var_sig_name": "${sig_name}",
  "var_public_ip": "${private_virtual_network_with_public_ip}",
  "var_vnet_name": "${virtual_network_name}", 
  "var_subnet_name": "${virtual_network_subnet_name}"
}